@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* App.css */
body {
  background-image: url('/HD_FINAL_PNG.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

/* Optional: For specific container */
.background-container {
  background-image: url('/HD_FINAL_PNG.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Adjust height if needed */
}
